Import Statements

In [8]:
import pandas as pd
from tqdm import tqdm
from tqdm.notebook import tqdm_notebook
tqdm_notebook.pandas()
import os

#tqdm.pandas()
#tqdm_notebook().pandas()

DataFrame Loading

In [2]:
balance_df = pd.read_csv("../RawData/balance_sheet_with_headers.csv")
profit_df = pd.read_csv("../RawData/profit_losses_with_headers.csv")

In [7]:
profit_df['account_type'] = profit_df['account_name'].str.split('|').str[0]

In [11]:
profit_df['account_subtype'] = profit_df['account_name'].str.split('|').str[1]

In [12]:
profit_df = profit_df.drop('account_name', axis = 1)

In [13]:
profit_df = profit_df.drop('modified_date', axis = 1)

In [4]:
profit_df['account_type'] = profit_df['account_name'].str.split('|').str[0]
profit_df['account_subtype'] = profit_df['account_name'].str.split('|').str[1]
profit_df = profit_df.drop('account_name', axis = 1)
profit_df = profit_df.drop('modified_date', axis = 1)

In [3]:
balance_df['account_type'] = balance_df['account_name'].str.split('|').str[0]
balance_df['account_subtype'] = balance_df['account_name'].str.split('|').str[1]
balance_df = balance_df.drop('account_name', axis = 1)
balance_df = balance_df.drop('modified_date', axis = 1)

In [11]:
list_cid = list(balance_df['customer_id'].unique())

In [10]:
len(list_cid)

3061

In [4]:
def clean_data(cid):
    
    path = "../OfficialData/" + str(cid)
    if not os.path.exists(path):
        os.makedirs(path)
    balance = balance_df[balance_df['customer_id'] == cid]
    balance.to_csv("../OfficialData/" + str(cid) + "/balance.csv", index = False)
    profit = profit_df[profit_df['customer_id'] == cid]
    profit.to_csv("../OfficialData/" + str(cid) + "/profit.csv", index = False)

In [13]:
for cid in list_cid:
    clean_data(cid)

In [31]:
df = pd.read_csv("../OfficialData/6374/profit.csv")
df.head()

,id,customer_id,account_id,period_date,balance,report_id,account_type,account_subtype
0,96623,6374,297,2021-08-31,294.59,28083,Expenses,Financing Cost
1,96624,6374,297,2021-07-31,357.56,28083,Expenses,Financing Cost
2,96625,6374,297,2021-06-30,376.72,28083,Expenses,Financing Cost
3,96626,6374,297,2021-05-31,261.74,28083,Expenses,Financing Cost
4,96627,6374,297,2021-04-30,490.63,28083,Expenses,Financing Cost

In [9]:
len(df[df['account_subtype'] == 'Incomes - Net revenues'].groupby('period_date').mean().index)

83

In [10]:
len(df.groupby('period_date').mean().index)

88